@import url(reset.css);

header {
    font-size: 50px;
    text-align: center;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
}

.education {
    font-family: "Inter", sans-serif;
    background-color:#412672;
    padding-top: 61px;
    padding-bottom: 102px;
}

.container{
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1230px;
}

.education-title {
    width: 505px;
    color: #FFF;          
    font-size: 38px;
    line-height: 1.21;
    margin-bottom: 31px;
}

.education-list {
    margin: 0 -10px;
    font-size: 0;
}

.education-items {
    display: inline-block;
    vertical-align: top;
    max-width: 33.33%;
    min-height: 520px; 
    padding: 20px;
}
  
.work-card {
    height: 100%;
}
  
.content {
    margin-bottom: 60px; 
}
  
.education-card {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    min-height: 520px; 
    padding: 20px;
    background: #fff;
}
  
.education-items img {
    margin-bottom: 16px;
    height: 266px;
}

.education-card {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    box-sizing: border-box;
    min-height: 476px; 
    padding: 20px;
    font-size: 15px;
    background: #fff;
    box-shadow: 0px 384px 108px 0px rgba(0, 0, 0, 0.00), 0px 246px 98px 0px rgba(0, 0, 0, 0.01), 0px 138px 83px 0px rgba(0, 0, 0, 0.05), 0px 62px 62px 0px rgba(0, 0, 0, 0.09), 0px 15px 34px 0px rgba(0, 0, 0, 0.10);
}

.work-card {
    height: 100%;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    box-sizing: border-box;
} 
  
.work-card h2 {
    color: #000;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 16px;
}

.content {
    min-height: 100px;
}
  
.acent {
    display: inline-block;
    margin-top: auto;
    color: #FE3F3F;
}

p {
    color: #4F4F4F;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 16px; 
}  

.work-card p:last-of-type {
	margin-bottom: 0;
}

.education-card:hover {
    background: #FFBE48;
    box-shadow: 0px 384px 108px 0px rgba(0, 0, 0, 0.00),
                0px 246px 98px 0px rgba(0, 0, 0, 0.01), 
                0px 138px 83px 0px rgba(0, 0, 0, 0.05),
                0px 62px 62px 0px rgba(0, 0, 0, 0.09), 
                0px 15px 34px 0px rgba(0, 0, 0, 0.10);
}

.info {
    padding-top: 153px;
    padding-bottom: 139px;
}
.container-info{
    width: 518px;
}

h2 {
    color:#412672;
    font-family: Inter;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    margin-bottom: 20px;  
}

.text-info {
    color: #412672;
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
}

li::before {
	background: url(/img/Frame.svg) 0 0 no-repeat;
	content: "";
	width: 29px;
	height: 29px;
	display: inline-block;
	margin-right: 15px;
    vertical-align: middle; 
}

.info-item {
    color:#4F4F4F;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 51px; /* 255% */
}

.game {
    background-color: rgb(9, 52, 3);
    padding: 100px 0;
    font-size: 0;
    min-height: 1280px;
}

.game-content > div {
    display: inline-block;
    vertical-align: middle;
}

.block-start {
    min-width: 70px;
    min-height: 50px;
    background-color: antiquewhite;
    padding: 15px 0;
    text-align: center;
    font-size: 20px;
}

[class*='block']:not(:first-child) {
    background-color: #fff; 
    visibility: hidden;  
}

.game-content > div:hover + div, .game-content>div:hover {
    visibility: visible;
   
}

.game-content > div:hover:not(.block-end):not(.block-start) {
    background: url(../img/snake-clipart-md.png) center / 50px no-repeat;
}

.game-content > div:nth-child(even):hover:not(.block-end):not(.block-start) {
    background: url(../img/anaconda-clipart-md.png) center / 50px no-repeat;
}

.block-1 {
    margin-left: -5px;
    min-width: 200px;
    min-height: 50px;
   
}

.block-2 {
    margin: 0 0 -148px -26px;
    min-width: 25px;
    min-height: 100px;
    
}

.block-3 {
    margin: 0 0 -225px 0px;
    min-width: 203px;
    min-height: 23px;
}

.block-4 {
    margin: 0 0 -364px -2px;
    min-width: 25px;
    min-height: 161px;
}

.block-5 {
    margin: 11px 82px -521px -25px;
    min-width: 280px;
    min-height: 26px;
}

.block-6 {
    margin: 0 0 -699px -113px;
    min-width: 30px;
    min-height: 140px;
}

.block-7 {
    margin: 49px 57px -766px -85px;
    min-width: 55px;
    min-height: 24px;
}

.block-8 {
    margin: 75px 53px -805px -134px;
    min-width: 22px;
    min-height: 89px;
}

.block-9 {
    margin: 73px 35px -899px -75px;
    min-width: 147px;
    min-height: 25px;
}

.block-10 {
    margin: 283px 7px -840px -35px;
    min-width: 25px;
    min-height: 177px;
}

.block-11 {
    margin: 477px 0 -795px -7px;
    min-width: 155px;
    min-height: 26px;
}

.block-12 {
    margin: 99px 45px -1354px -41px;
    min-width: 41px;
    min-height: 153px;
}

.block-end {
    margin: 256px 59px -1301px -156px; 
    min-width: 70px;
    min-height: 49px;
    padding: 15px 0;
    text-align: center;
    font-size: 20px;
}

h3 {
    font-size: 33px;
    font-style: italic;
    text-align: center;
    text-decoration: solid;
    text-transform: uppercase;
    color: #ffbe48;
    margin-bottom: 20px;
}

footer {
    font-size: 50px;
    text-align: center;
}













